.site-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  background: #ebebeb;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #fff;
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 1em; }
  .site-container.no-bg {
    background: transparent; }
  .site-container.no-border {
    border: 0; }

.container {
  width: 100%; }
  .container .inner {
    padding: 1em; }

.one-fourth {
  width: 25%; }

.one-half {
  width: 50%; }

.three-fourths {
  width: 75%; }

.left {
  float: left; }

.site-title {
  font-size: 2em; }
  .site-title p {
    margin-bottom: .5em; }

.tab-container {
  margin: 0 1em 1em 1em; }
  .tab-container ul.tabs {
    border: 0;
    padding: 0;
    margin: 0; }
    .tab-container ul.tabs li {
      display: inline-block;
      margin-right: .5em; }
      .tab-container ul.tabs li:last-of-type {
        margin: 0; }

.menu-container {
  padding: 1em 0;
  border-bottom: 1px solid #435743; }
  .menu-container ul.menu, .menu-container ul.links {
    padding: 0;
    margin: 0; }
    .menu-container ul.menu li, .menu-container ul.links li {
      display: inline-block;
      margin-right: 1em; }
      .menu-container ul.menu li:last-of-type, .menu-container ul.links li:last-of-type {
        margin: 0; }
      .menu-container ul.menu li a, .menu-container ul.links li a {
        text-decoration: none; }

.region.left-column .inner {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #435743;
  margin: 1em 1em 1em 0; }
  .region.left-column .inner h3 {
    margin-top: 0; }
    .region.left-column .inner h3 .fa {
      font-size: .8em; }

ul.recent-posts {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  ul.recent-posts li {
    border-bottom: 1px solid #fff;
    padding: .5em 0; }
    ul.recent-posts li:first-of-type {
      border-top: 1px solid #fff; }
    ul.recent-posts li a {
      text-decoration: none;
      color: #435743;
      margin-left: 1em;
      display: block;
      width: 100%;
      height: 100%; }

.footer-container {
  border-top: 1px solid #435743; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*# sourceMappingURL=layout.css.map */
