@import url(http://fonts.googleapis.com/css?family=Arvo|Luckiest+Guy);
h1, h2, h3, h4, h5, h6 {
  font-family: 'Luckiest Guy'; }

body {
  font-family: 'Arvo', serif;
  background: #e6e8f5; }

.site-title {
  font-family: 'Luckiest Guy';
  color: #435743; }

.menu-container ul.menu li a, .menu-container ul.links li a {
  color: #435743; }

.region.left-column h3 {
  color: #435743; }

.footer-container {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
